#proyectos-herreria{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  background-color: var(--Bg-Tertiary);
  gap: 2rem;
  background: linear-gradient(125deg, rgba(197, 84, 84, 0.550), rgba(99, 22, 73, 0.3), rgba(197, 84, 84, 0.550));
}

#proyectos-herreria .menu{
  align-self: center;
  padding: 0 1rem;
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#proyectos-herreria h2{
  font-size: clamp(2rem, 4.5vh, 3rem);
  text-shadow: 0 0 3px black;
  text-transform: capitalize;
  text-align: center;
}


#proyectos-herreria ul{
  padding: 1rem 2rem;
  list-style: none;
  margin: 2rem 0;
}

#proyectos-herreria li{
  margin-bottom: 3rem;
}

#proyectos-herreria .categoria{
  width: 8rem;
  height: 3rem;
}

#proyectos-herreria button{
  background-color: var(--Button-Primary);
  border-radius: 20px 0;
  transition: all .6s ease; 
}

#proyectos-herreria .categoria-activa{
  width: 8rem;
  height: 3rem;
  background-color: var(--Buton-Secondary);
  box-shadow: 0 0 5px #000;
  text-shadow: 1px 1px 1px gray;
}

#proyectos-herreria button:hover {
  transform: scale(1.15); /*escala el elemento*/
  box-shadow: 0 0 15px rgb(0, 0, 0);
}

#proyectos-herreria .galeria-proyectos{
  background: radial-gradient(#fffa, #ffb7);
  margin: 3rem 0;
  flex: 1;
  border: 3px solid #232b45;
  border-right: none;
  border-radius: 40px 0 0 40px;
  box-shadow: -5px 0 10px #7668;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}
.galeria-proyectos div{
  
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}