html[data-theme="light"] {
  --Bg-Main: #d2b49a;
  --Bg-Secondary: #9f7263;
  --Bg-Tertiary: #b5705c;
  --Bg-Cuaternary: #7f4936;

  --Button-Primary: #c5aaaa;
  --Buton-Secondary: #e9dbdb;

  --FontColor-Primary: black;
  --FontColor-Important: rgba(230,230,230,0.9);
}
