* { /*refiere a todo el contenido*/
  margin: 0; /*declara margenes*/
  padding: 0; /*espacio de relleno entre el contenido y el borde*/
  box-sizing: border-box; /*cambia la forma en que los navegadores calculan el ancho y la altura total de un elemento*/
}


body{ /*"nombre" a secas selecciona todas las declaraciones con esta etiqueta*/
  background-color: var(--Bg-Main); /*fondo (en este caso una gradiente lineal de colores)*/
  font-family: 'Times New Roman', Times, serif; /*selecciona el texto-fuente (si una falla se usa la siguiente)*/
  font-weight: 400; /*tamaño de fuente*/
}

section{
  scroll-margin-top: 75px;
  min-height: calc(100vh - 60px);
}
