* { /**refiere a todo el contenido**/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { 
    font-family: 'Romanica';
    src: url('../fontsFolder/Romanica.woff2') format('woff2'),
        url('../fontsFolder/Romanica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
  background: linear-gradient(90deg, #0c1b33,#447ccf, #0c1b33)
}

header{
  position: sticky;
  top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background-color: #232b45;
}

.navegador{
  font-size: clamp(1rem, 2vw, 1.5rem); 
  display: flex;
  align-items: center;   /*centra verticalmente*/
  justify-content: center; /*centra horizontalmente*/
  height: 5vh; 
  font-style: oblique;
  font-weight: 100;
  font-family: 'Romanica', Verdana, Tahoma, sans-serif;
}

header nav a{
  margin: 0 2vw;
  text-decoration: none;
  color: rgb(230, 250, 250);
  text-shadow: 0 0 0.2vh #ffffff;
}

.hero{
  background-image: url("../imgFolder/green-background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

h1{
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: 'Romanica', Verdana, Tahoma, sans-serif;
  color: black;
  margin-bottom: 10vh;
}

.hero p{
  font-size: clamp(1.5rem, 3vh, 3rem);
  padding: 0 2vw;
  margin-bottom: 10vh;
}

.boton-presupuesto{
  display: inline-block;
  margin: 10vh;
  box-sizing: content-box;
  text-decoration: none;
  font-size: clamp(1.5rem, 4vh, 2.5rem);
  border-radius: 5px;
  color: rgb(12, 13, 14);
  border:  0.3vh #559 solid;
  background: radial-gradient(#aac, #dde);
}

.foto-perfil{
  margin: 5vh;
}

.foto-perfil img{
  width: 30vw; /**configuracion temporal**/
}

footer{
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background-color: #232b45;
  font-size: clamp(1rem, 2vw, 1.5rem); 
  display: flex;
  align-items: center;   /*centra verticalmente*/
  justify-content: right;
}

footer p{
  padding: 0 2vw;
  color: rgb(230, 250, 250);
  text-shadow: 0 0 0.2vh #ffffff;
}

