@font-face { 
    font-family: 'Romanica';
    src: url('../fontsFolder/Romanica.woff2') format('woff2'),
        url('../fontsFolder/Romanica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* { /**refiere a todo el contenido**/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(90deg, #0c1b33,#447ccf, #0c1b33);
  font-family: 'Romanica', Verdana, Tahoma, sans-serif;
  padding-bottom: 60px;
  font-weight: 400;
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #232b45;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.navegador{
  font-size: clamp(1rem, 2vw, 1.5rem); 
  display: flex;
  align-items: center;   /*centra verticalmente*/
  justify-content: center; /*centra horizontalmente*/
  font-style: oblique;
}
header nav a{
  margin: 0 2vw;
  text-decoration: none;
  color: rgb(230, 230, 230);
  /**text-shadow: 0 1px 2px #dddddd;**/
}
header nav a:hover{
  color: #ffffff;
  text-shadow: 0 0 2px #dddddd;
}


.hero{
  background-image: url("../imgFolder/green-background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.hero h1{
  font-size: clamp(2.5rem, 5vw, 4rem);
  color: black;
  margin-bottom: 10vh;
}
.hero p{
  font-size: clamp(1.5rem, 3vh, 3rem);
  padding: 0 2vw;
  margin-bottom: 10vh;
}
.boton-presupuesto{
  display: inline-block;
  width: fit-content;
  padding: 0 1rem;
  margin: 2rem auto;
  text-decoration: none;
  font-size: clamp(1.5rem, 4vh, 2.5rem);
  color: rgb(12, 13, 14);
  border:  0.3vh solid #559;
  background: radial-gradient(#99a, #aac, #99a);
  box-shadow: 0 0 15px #337;
  border-radius: 20px;
  text-transform:uppercase;
}

.boton-presupuesto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #559;
}

.foto-perfil{
  margin: 5vh;
}

.foto-perfil img{
  width: 30vw; /**configuracion temporal**/
}

.contenido-sobre-nosotros{
  text-align: center;
  padding: 2vh 1vw;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #232b45;
  font-size: clamp(1rem, 2vw, 1.5rem); 
  display: flex;
  align-items: center;   /*centra verticalmente*/
  justify-content: right;
  z-index: 1000;
}

footer p{
  padding: 0 2vw;
  color: rgb(230, 230, 230);
  /**text-shadow: 0 1px 2px #dddddd;**/
}

